@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');


/*******************************************
ESTILOS PREDETERMINADOS - ESTILOS GLOBALES
********************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
    margin-top: 15px;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
    margin-top: 15px;
}

body{
    width: 100%;
}

/************************ 
SECCION BARRA DE NAVEGACION 
*************************/

.logo{
    height: 40px;
    width: 140px;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
   list-style: none;
   padding:  0px 20px;
   position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover, 
#navbar li a.active {
    color: rgb(255, 13, 13);
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: red;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#close{
    display: none;
}


.cart-icons,
.user-icons,
.icons {
    width: 20px;
    height: 20px;
}

#checkout{
    background-color: transparent;
    border: none;
    padding: 10px 10px;
    font-weight: 500;
    cursor: pointer;
  }

#checkout:hover{
    color: #ff0f0f;
    font-weight: 700;
    transition: 0.2s ease;
}

  
  .cart{
    color: #fff;
    width: 20px;
    height: 20px;
  }


/**********************************
SECCION PAGINA DE PRINCIPAL
*********************************/
#hero{
    background-image: url(./img/hero4.png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color: #0077a2;
}

#hero button{
    background-image: url(./img/button.png);
    background-color: transparent;
    color: #0077a2;
    text-shadow: 2px 4px 8px #c3c3c3;
    border: 0;
    padding: 14px 50px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;

}

#hero button:hover{
    color: red;
    text-shadow: 4px 4px 14px #f4f4f4;
    transition: 0.3s ease;
}

a{
    text-decoration: none;
    color: #fff;
}
/**********************************
SECCION FEATURE - CARACTERISTICAS
**********************************/
#feature{
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap; 
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1); 
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color:#0077a2;
    background-color: #f9e7d5;
}

#feature .fe-box:nth-child(2) h6{
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6{
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}
 
/**********************************
PRODUCTOS DESTACADOS
**********************************/
#product1{
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    border-radius: 20px;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro-img{
    width: 100%;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des h4{
    padding-top: 7px;
    color: #0077a2;
    font-size: 15px;
    font-weight: 700;
}

.star-icons {
    height: 20px;
    width: 20px;
}

#product1 .pro .cart-icons{
    width: 25px;
    height: 25px;
    line-height: 40px;
    border-radius: 10px;
    background-color: #e8f6ea;
    font-weight: 500;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.button-add {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; 
    transition-duration: 0.1s;
    position: absolute;
    right: 0px;
    margin-top: 30px;
    bottom: 10px;
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    padding: 5px 10px;
    margin-right: 50px;
}
  
.button-add:hover {
    background-color: #4CAF50; 
    color: white;
}

/**********************************
BANNER - LLAMADO A LA ACCION 
**********************************/
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(./img/banner/b2.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: #ffffff;
    font-size: 16px;
}

#banner h2{
    color: #ffffff;
    font-size: 40px;
}

#banner h2 span{
    color: #ff0f0f;
    font-size: 40px;
    
}

#banner button a{
    color: #000 !important;
}

#banner button:hover{
    background: #ffbd27;
    color: #fff;
}

/**********************************
SECCION BANNERS 
**********************************/

/******** 1era Seccion **********/
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./img/banner/b17.jpg);
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
    width: 45%;
}

#sm-banner .banner-box2{
    background-image: url(./img/banner/b10.jpg);
}

#sm-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2{
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}


#sm-banner button:hover{
    background: #0077a2;
    color: #fff;
    border: 1px solid #0077a2 ;
}

/******* 2da Seccion *******/

#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 40px;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(./img/banner/b7.jpg);
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
    margin: 0 20px 0 20px;
}

#banner3 .banner-box2{
    background-image: url(./img/banner/b4.jpg);
}

#banner3 .banner-box3{
    background-image: url(./img/banner/b18.jpg);
}

#banner3 h2{
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3{
    color: rgb(33, 33, 33);
    text-shadow: 2px 2px 8px white;
    font-weight: 800;
    font-size: 15px;
}

/**********************************
SECCION SUBSCRIBIRSE
**********************************/
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(./img/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span{
    color: #ffbd27;
}

#newsletter .form{
    display: flex;
    width: 40%;
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
}

#newsletter button{
    background:  #ffbd27 ;
    color: #fff;
    white-space: nowrap;
    margin-top: 0px;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
}

#newsletter button:hover{
    background: red;
    color: #fff;
}


/**********************************
FOOTER
**********************************/
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}


footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}

footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer a:hover{
    color: #ffbd27;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

.icon-social{
    width: 40px;
    height: 40px;
}



/**********************************
PRODUCTOS PAGE
**********************************/

#page-header{
    background-image: url(./img/banner/b1.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header p{
    color: #fff;
}


#pagination {

    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: #ffbd27;
    padding: 20px 20px;
    border-radius: 4px;
    color: #000;
    font-weight: 600;
}


.icon-arrow{
    width: 20px;
    height: 20px;
}

/**********************************
REVIEW PRODUCT - SPRODUCT
**********************************/

#prodetails{
   display: flex;
   margin-top: 20px; 
}

#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

.single-pro-details{
    padding: 20px 0 20px 0;
}

#prodetails .single-pro-details{
    width: 50%;
    margin-top: 30px;
}

#prodetails .single-pro-details h4{
    margin: 40px 0 20px 0;
}

#prodetails .single-pro-details h2{
    font-size: 30px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
    background-color: transparent;
}

#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 15px;
    margin-right: 10px;
}

#prodetails .single-pro-details input:focus{
    outline: none;
}

#prodetails .single-pro-details button{
    background: #ffbd27;
    color: #fff;
}

#prodetails .single-pro-details span{
    line-height: 25px;
}



/**********************************
INFO PAGE 
**********************************/
#page-header.about-header{
    background-image: url("./img/about/banner.png");
}

#about-head{
    display: flex;
    align-items: center;
    margin: 100px 0 50px 0;
}


#about-head img{
    width: 50%;
    height: auto;
}

#about-head div{
    padding-left: 40px;
}

.link-products{
    text-decoration: none;
    color: #000;
}

#about-app{
    text-align: center;
}

#about-app .video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}

#about-app .video video{
   width: 100%;
   height: 100%;
   border-radius: 20px;
}


/**********************************
CONTACT PAGE 
**********************************/
#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#contact-details .details{
    width: 40%;
}

#contact-details .details span,
#form-details form span {
    font-size: 12px;
}

#contact-details .details h2,
#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
    
}

#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 12px 0;
}

#contact-details .details li p{
    margin: 10px 0;
    font-size: 14px;
}

#contact-details .map{
    width: 55%;
    height: 400px;
}

#contact-details .map iframe{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.icons-contact{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
    border-radius: 20px;
}

#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button{
    background-color: #ffbd27;
    color: #fff;
}

#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p{
   margin: 0;
   font-size: 13px;
   line-height: 25px;
}

#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}


/**********************************
CART PAGE 
**********************************/
#cart{
    overflow-x: auto;
}

#cart table{
    width: 100%;
    border-collapse: collapse ;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table .img-product{
    width: 70px;
}

#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}


#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td{
    padding-top: 15px;
}

#cart table tbody td{
    font-size: 13px;
}

#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon{
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3, 
#subtotal h3{
    padding-bottom: 15px;
}

#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

#coupon button,
#subtotal button{
    background-color: #ffbd27;
    color: #fff;
    padding: 12px 20px;
}

#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}

.icon-remove{
    width: 15px;
    height: 15px;
}


/**********************************
USER PAGE 
**********************************/

.contact{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./img/xs2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    
  }
  
  .contact p{
    font-size: 20px;
  }
  
  
  .container-form {
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    transition:  all .5s ease-out;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    
  }
  
  .welcome-back {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .message {
    padding: 1rem;
  }
  
  .message h2 {
    font-size: 1.7rem;
    padding: 1rem 0;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 5px 10px rgb(13, 13, 13);
  }
  
  .message button {
    padding: 1rem;
    font-weight: 400;
    background-color: #4a4aee;
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .9rem;
    margin-top: 2rem;
    transition: all .3s ease-in;
    color: #fff;
  
  }
  
  .message button:hover {
    background-color: #6464f8;
  }
  
  .formulario {
    width: 400px;
    height: 100%;
    padding: 1rem;
    margin: 2rem;
    background-color: rgb(51, 51, 51, 0.8);
    border-radius: 20px;
    text-align: center;
  }
  
  
  .create-account {
    padding: 2.7rem 0;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 5px 10px rgb(13, 13, 13);
  }
  
  .iconos {
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
  }
  
  .border-icon {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin white;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .3s ease-in;
  }
  
  .border-icon:hover {
    background-color: #4a4aee;
    cursor: pointer;
  }
  
  .cuenta-gratis {
    padding: 2rem 0;
  }
  
  .formulario input {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: white;
  }
  
  .formulario input[type="button"] {
    width: 60%;
    margin: auto;
    border: solid thin white;
    padding: .7rem;
    border-radius: 2rem;
    background-color: white;
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: #222;
  }
  
  .sign-in {
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }
  
  .sign-in.active {
    opacity: 1;
    visibility: visible;
  }
  
  .sign-up.active {
    opacity: 0;
    visibility: hidden;
  }
  
  .contact p{
    color: #fff;
}



/*******************************************************************
                       @MEDIA QUERYS
********************************************************************/

@media (max-width:799px) {
    /******** Generales **********/

    .section-p1{
        padding: 40px 40px;
    }


    /********* Menu ***********/
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s ease;
    }

    #navbar.active{
        right: 0px;
    }

    #navbar li{
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile a{
        padding-left: 20px;
    }

   #close{
       display:initial;
        top: 30px;
        left: 30px;
    }

    #lg-bag, #lg-user{
        display: none;
    }

    .icons-burger{
        width: 30px;
        height: 30px;
    }

    .icons-close{
        width: 15px;
        height: 15px;
    }


    /****** Principal *********/
    #hero{
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }


    /******* Caracteristicas *********/


    #feature{
        justify-content: center;
    }

    #feature .fe-box{
        margin: 15px 15px;
    }

    /******* Productos destacados *********/
    #product1 .pro-container{
        justify-content: center;
    }

    #product1 .pro{
        margin: 15px;
    }
    
    /******* Llamado a la accion - Banner *********/
    #banner {
        height: 20vh;
    }

    /******* Banner 1era seccion*********/
    #sm-banner .banner-box{
        min-width: 100%;
        height: 30vh;
    }

    /******* Banner 2da seccion*********/
    #banner3 {
        padding: 0 40px;
    }

    #banner3 .banner-box{
        width: 28%;
    }

    /******* Subscribirse *********/
    #newsletter .form{
        display: flex;
        width: 70%;
    }

     /******* Contact *********/
    #form-details{
        padding: 20px;
     }

    #form-details form{
        width: 50%;
        margin-right: 20px;
    }


}

@media (max-width:477px){

    /******** General *********/
    h1{
        font-size: 35px;
    }

    h2{
        font-size: 28px;
    }

    .section-p1{
        padding: 20px;
    }

    /********* Menu ***********/
    #header{
        padding: 10px 30px;
    }

    /********* Principal ***********/
    #hero {
        padding: 0 20px;
        background-position: 55%;
    }

    #hero h2, h1{
        text-shadow: 2px 2px 8px rgb(189, 184, 184);
    }

    /********* Caracteristicas ***********/
    #feature{
        justify-content: space-between;
    }

    #feature .fe-box{
        width: 155px;
        margin: 0 0 15px 0;
    }
    
    /********* Productos Destacados ***********/
    #product1 .pro{
        width: 100%;
    }

    /********* Llamado a la Accion - Banner ***********/
    #banner{
        height: 40vh;
    }

    /******* Banner 1era seccion*********/
    #sm-banner .banner-box{
        height: 40vh;
    }

    #sm-banner .banner-box2{
        margin-top: 20px;
    }

    /******* Banner 2da seccion*********/
    #banner3{
        padding: 0 20px;
    }
    
    #banner3 .banner-box{
       width: 100%; 
    }

    /******* Subscribirse *********/
    #newsletter {
        padding: 40px 20px;
    }

    #newsletter .form{
        width: 100%;
    }

    /******* Footer *********/
    footer .copyright{
        text-align: start;
    }

    /******* SProduct *********/

    #prodetails {
        display: flex;
        flex-direction: column;
    }

    #prodetails .single-pro-image{
        width: 100%;
        margin-right: 0px;
    }

    #prodetails .single-pro-details{
        width: 100%;
    }

    /******* Info *********/
    #about-head{
        flex-direction: column;
    }

    #about-head img{
        width: 100%;
        margin-bottom: 20px;
    }

    #about-head div{
        padding-left: 0px;
    }

    #about-app .video{
        width: 100%;
    }

    /******* Contact *********/
    #contact-details{
        flex-direction: column;
    }

    #contact-details .details{
       width: 100%; 
       margin-bottom: 30px;
    }

    #contact-details .map{
        width: 100%;
    }

    #form-details{
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }

    #form-details form{
        width: 100%;
        margin-bottom: 30px;
    }

    /******* Carrito de Compra *********/
    #cart-add{
        flex-direction: column;
    }

    #coupon{
        width: 100%;
    }

    #subtotal{
        width: 100%;
        padding: 20px;
    }
}